#######################################################
# Visual Studio
#######################################################

.vs/
**/.vs/

#######################################################
# Build
#######################################################

bin/
obj/

**/bin/
**/obj/

#######################################################
# Visual Studio User Files
#######################################################

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

#######################################################
# Visual Studio Cache
#######################################################

*.cache
*.log

#######################################################
# Debug
#######################################################

Debug/
Release/

**/Debug/
**/Release/

#######################################################
# Rider
#######################################################

.idea/

#######################################################
# VS Code
#######################################################

.vscode/

#######################################################
# NuGet
#######################################################

*.nupkg
packages/

#######################################################
# Test Results
#######################################################

TestResults/

#######################################################
# Resharper
#######################################################

_ReSharper*/
*.DotSettings.user

#######################################################
# SQL Server
#######################################################

*.mdf
*.ldf

#######################################################
# Publish
#######################################################

publish/

#######################################################
# Azure
#######################################################

*.Publish.xml

#######################################################
# Logs
#######################################################

*.log

#######################################################
# OS Files
#######################################################

Thumbs.db
Desktop.ini

#######################################################
# Mac
#######################################################

.DS_Store

#######################################################
# Temporary Files
#######################################################

*.tmp
*.temp
*.bak

#######################################################
# JetBrains
#######################################################

*.iml

#######################################################
# Generated Files
#######################################################

Generated/

#######################################################
# Coverage
#######################################################

coverage/
*.coverage
*.coveragexml